html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline; }

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none; }

html,
body {
  width: 100%;
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  font-family: arial, sans-serif; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

ins,
a {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: inline-block; }

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0); }

html {
  font-size: 37.5px; }

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  background: url(../images/bj.png) no-repeat;
  background-size: 100% 100%;
  flex-direction: column; }

section {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; }
  section .logo {
    margin-top: 2.50667rem;
    margin-bottom: 1.52rem; }
    section .logo img {
      width: 1.86667rem;
      height: 1.86667rem; }
  section .login-tel,
  section .register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 7%;
    border: 1px solid #d02d23;
    border-radius: 2.66667rem;
    margin-bottom: 7%;
    color: #d02d23;
    font-size: 0.4rem; }
  section span {
    font-size: 0.26667rem;
    color: #b8b8b8;
    border-bottom: 1px solid #b8b8b8; }

footer {
  width: 100%;
  font-size: 0.26667rem;
  height: 2.66667rem;
  display: flex;
  flex-direction: column; }
  footer h5 {
    width: 100%;
    text-align: center;
    color: #a4a4a4; }
  footer > div {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    footer > div div {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #989897; }
      footer > div div i.iconfont {
        font-size: 0.8rem; }
